Source: ros-jazzy-message-tf-frame-transformer
Section: misc
Priority: optional
Maintainer: Lennart Reiher <lennart.reiher@rwth-aachen.de>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, libgeometry-msgs-dev, libsensor-msgs-dev, libtf2-dev, libtf2-geometry-msgs-dev, libtf2-ros-dev, libtf2-sensor-msgs-dev, python3-geometry-msgs, python3-sensor-msgs, python3-tf2, python3-tf2-geometry-msgs, python3-tf2-ros, python3-tf2-sensor-msgs, ros-environment, ros-geometry-msgs, ros-jazzy-rclcpp, ros-sensor-msgs, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-message-tf-frame-transformer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libgeometry-msgs-dev, libsensor-msgs-dev, libtf2-dev, libtf2-geometry-msgs-dev, libtf2-ros-dev, libtf2-sensor-msgs-dev, python3-geometry-msgs, python3-sensor-msgs, python3-tf2, python3-tf2-geometry-msgs, python3-tf2-ros, python3-tf2-sensor-msgs, ros-environment, ros-geometry-msgs, ros-jazzy-rclcpp, ros-sensor-msgs, ros-jazzy-ros-workspace
Description: Transforms messages of arbitrary type to a different frame using tf2::doTransform
