name: docker-ros

on: push

jobs:

  ros:
    runs-on: ubuntu-latest
    steps:
      - uses: ika-rwth-aachen/docker-ros@v1.0.0
        with:
          image-tag: ros
          base-image: rwthika/ros:latest
          command: rosrun message_tf_frame_transformer message_tf_frame_transformer
          platform: amd64,arm64
          target: run
  
  ros2:
    runs-on: ubuntu-latest
    steps:
      - uses: ika-rwth-aachen/docker-ros@v1.0.0
        with:
          image-tag: ros2
          base-image: rwthika/ros2:latest
          command: ros2 run message_tf_frame_transformer message_tf_frame_transformer
          platform: amd64,arm64
          target: run
          enable-push-as-latest: 'true'
